{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Authentification/index.css' %}">
</head>
<body>
    <div class="container">
        <h2>BIENVENU SUR L'APPLICATION </br> RNF</h2>
        <form method="post" action="{% url 'Authentification:index' %}" class="login-form">
            {% csrf_token %}
            <div class="input-group">
                <label for="login">Login</label>
                <input type="text" id="login" name="login" placeholder="IM / NIF">
            </div>
            <div class="input-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="Mot de passe">
            </div>
            <button type="submit">Se connecter</button>
        </form>

        <div class="signup-links">
            <a href="{% url 'Authentification:inscription_fonctionnaire' %}">Inscription Fonctionnaire</a>
            <a href="{% url 'Authentification:inscription_operateur' %}">Inscription Opérateur</a>
        </div>

        <div id="customAlert" class="alert-box hidden">
            <span id="customAlertMsg"></span>
            <button id="customAlertClose">&times;</button>
        </div>
</body>
<script>
        // Fonction unique à appeler partout
    function customAlert(msg, type = 'info', seconds = 4) {
        const box = document.getElementById('customAlert');
        const msgEl = document.getElementById('customAlertMsg');
        const close = document.getElementById('customAlertClose');

        msgEl.textContent = msg;
        box.classList.remove('hidden', 'error', 'success');
        box.classList.add(type);          // type = 'info' | 'error' | 'success'

        // Fermeture auto après X secondes
        const timer = setTimeout(() => box.classList.add('hidden'), seconds * 1000);

        // Fermeture manuelle
        close.onclick = () => {
            clearTimeout(timer);
            box.classList.add('hidden');
        };
    }
        // Affiche les messages Django si présents
    {% if messages %}
          {% for m in messages %}
            {% if 'success' in m.tags %}
              customAlert('{{ m|escapejs }}', 'success', 5);
            {% else %}
              customAlert('{{ m|escapejs }}', 'error', 3);
            {% endif %}
          {% endfor %}
    {% endif %}
  </script>
</html>